@using Domain
@using Microsoft.Web.Mvc;
@using Web.Areas.AnalysisManagement;
@using Web.Areas.LocationManagement;

@section page_title{
Analysis: Location Report
}

@{
    Html.RenderPartial("_EmptySubNavigation");
    Html.RenderPartial("_AnalysisSideBar");
    Html.RenderPartial("SelectPositionGoogleMapWindow");
}

<script type="text/javascript">

    Ext.onReady(function () {

        var analysisBtnId = window.res.header.navigation.analysisAndReports;
        var analysisBtn = Ext.getCmp(analysisBtnId);
        analysisBtn.toggle(true);
        if(window.res.content.maincontent.sidebar.googlemaps){
            var reportBtnId = window.res.content.maincontent.sidebar.googlemaps;
            var reportBtn = Ext.getCmp(reportBtnId);
            reportBtn.toggle(true);
        }
    });

</script>

<script type="text/javascript">
    Ext.onReady(function () {
        window.feature = {};
        window.feature.countryComboboxId = "Country-Combo-Box-Google-Map-Report";
        window.feature.regionComboboxId = "Region-Combo-Box-Google-Map-Report";
        window.feature.districtComboboxId = "District-Combo-Box-Google-Map-Report";

        var outpostMarkersArray = [];
        var districtMarkersArray = [];
        var regionMarkersArray = [];

        var googleMapPanelConfig = { flex: 1, margin: '0 0 10 0' };
        googleMapPanelConfig.centerPosition = new google.maps.LatLng(34.321061139205526, 66.34764831250004);
        googleMapPanelConfig.zoom = 2;
        var googleMapPanel = Ext.create('Ext.feature.GoogleMapPanel', googleMapPanelConfig);

        window.feature.outpostStoreMarkers = Ext.create('Ext.data.Store', {
            fields: ['Id', 'Name', 'Number', 'Type', 'Coordonates', 'FemaleYounger', 'FemaleOlder', 'MaleYounger', 'MaleOlder'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(Web.Areas.AnalysisManagement.AnalysisManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "GoogleMapReport", action = "GetOutpostMarkers" })',
                reader: {
                    type: 'json',
                    root: 'Markers',
                    totalProperty: 'TotalItems'
                },
                extraParams: { countryId: '', regionId: '', districtId: '' }
            }
        });

        window.feature.districtStoreMarkers = Ext.create('Ext.data.Store', {
            fields: ['Id', 'Name', 'Number', 'Type', 'Coordonates', 'FemaleYounger', 'FemaleOlder', 'MaleYounger', 'MaleOlder'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(Web.Areas.AnalysisManagement.AnalysisManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "GoogleMapReport", action = "GetDistrictMarkers" })',
                reader: {
                    type: 'json',
                    root: 'Markers',
                    totalProperty: 'TotalItems'
                },
                extraParams: { countryId: '', regionId: '', districtId: '' }
            }
        });

        window.feature.regionStoreMarkers = Ext.create('Ext.data.Store', {
            fields: ['Id', 'Name', 'Number', 'Type', 'Coordonates', 'FemaleYounger', 'FemaleOlder', 'MaleYounger', 'MaleOlder'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(Web.Areas.AnalysisManagement.AnalysisManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "GoogleMapReport", action = "GetRegionMarkers" })',
                reader: {
                    type: 'json',
                    root: 'Markers',
                    totalProperty: 'TotalItems'
                },
                extraParams: { countryId: '', regionId: '', districtId: '' }
            }
        });

        window.feature.countryStore = Ext.create('Ext.data.Store', {
            remoteSort: true,
            fields: ['Id', 'Name'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(Web.Areas.LocationManagement.LocationManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "Region", action = "GetCountries" })',
                reader: {
                    type: 'json',
                    root: 'Countries',
                    totalProperty: 'TotalItems'
                },
                simpleSortMode: true
            },
            sorters: [{
                property: 'Name',
                direction: 'ASC'
            }]
        });

        window.feature.regionStore = Ext.create('Ext.data.Store', {
            remoteSort: true,
            fields: ['Id', 'Name'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(Web.Areas.LocationManagement.LocationManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "District", action = "GetRegions" })',
                reader: {
                    type: 'json',
                    root: 'regions',
                    totalProperty: 'TotalItems'
                },
                extraParams: { countryId: '' },
                simpleSortMode: true
            },
            sorters: [{
                property: 'Name',
                direction: 'ASC'
            }]
        });

        window.feature.districtStore = Ext.create('Ext.data.Store', {
            remoteSort: true,
            fields: ['Id', 'Name'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(Web.Areas.LocationManagement.LocationManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "Outpost", action = "GetDistricts" })',
                reader: {
                    type: 'json',
                    root: 'Districts',
                    totalProperty: 'TotalItems'
                },
                extraParams: { regionId: '' },
                simpleSortMode: true
            },
            sorters: [{
                property: 'Name',
                direction: 'ASC'
            }]
        });

        function ResetCountryDependencies() {
            var regionCombobox = window.feature.container.down('#' + window.feature.regionComboboxId);
            regionCombobox.setValue(null);

            var districtCombobox = window.feature.container.down('#' + window.feature.districtComboboxId);
            districtCombobox.setValue(null);

        };

        function ResetRegionDependencies() {
            var districtCombobox = window.feature.container.down('#' + window.feature.districtComboboxId);
            districtCombobox.setValue(null);
        };

        function ResetDistrictMarkers() {
            window.feature.outpostStoreMarkers.proxy.extraParams.districtId = '';
            window.feature.districtStoreMarkers.proxy.extraParams.districtId = '';
            window.feature.regionStoreMarkers.proxy.extraParams.districtId = '';
        }

        function ResetRegionMarkers() {
            window.feature.outpostStoreMarkers.proxy.extraParams.regionId = '';
            window.feature.districtStoreMarkers.proxy.extraParams.regionId = '';
            window.feature.regionStoreMarkers.proxy.extraParams.regionId = '';

            ResetDistrictMarkers();
        }

        function ResetCountryMarkers() {
            window.feature.outpostStoreMarkers.proxy.extraParams.countryId = '';
            window.feature.districtStoreMarkers.proxy.extraParams.countryId = '';
            window.feature.regionStoreMarkers.proxy.extraParams.countryId = '';

            ResetRegionMarkers();
        }

        window.feature.country = Ext.create('Ext.form.ComboBox', {
            xtype: 'combobox',
            itemId: window.feature.countryComboboxId,
            store: window.feature.countryStore,
            margin: '0 0 20 50',
            labelAlign: 'top',
            fieldLabel: 'Select Country',
            displayField: 'Name',
            valueField: 'Id',
            labelClsExtra: 'combo-label',
            emptyText: 'Country List',
            editable: false,
            typeAhead: false,
            listeners: {
                'select': function (combo, record) {
                    ResetCountryDependencies();

                    window.feature.regionStore.proxy.extraParams.countryId = combo.getValue();
                    window.feature.regionStore.load();

                    ResetRegionMarkers();

                    var map = googleMapPanel.getMap();

                    deleteMarkers(regionMarkersArray);
                    deleteMarkers(districtMarkersArray);
                    deleteMarkers(outpostMarkersArray);

                    window.feature.outpostStoreMarkers.proxy.extraParams.countryId = combo.getValue();
                    window.feature.outpostStoreMarkers.load();
                    window.feature.districtStoreMarkers.proxy.extraParams.countryId = combo.getValue();
                    window.feature.districtStoreMarkers.load();
                    window.feature.regionStoreMarkers.proxy.extraParams.countryId = combo.getValue();
                    window.feature.regionStoreMarkers.load(function () {
                        map.setZoom(4);
                    });

                    centerOnPlace(combo.getRawValue(), map);
                },
                specialkey: function (field, e) {
                    if (e.getKey() == e.BACKSPACE || e.getKey() == e.DELETE) {
                        field.setValue(null);
                        ResetCountryDependencies();

                        var map = googleMapPanel.getMap();
                        deleteMarkers(regionMarkersArray);
                        deleteMarkers(districtMarkersArray);
                        deleteMarkers(outpostMarkersArray);

                        ResetCountryMarkers();

                        window.feature.outpostStoreMarkers.load();
                        window.feature.districtStoreMarkers.load();
                        window.feature.regionStoreMarkers.load(function () {
                            map.setZoom(3);
                        });
                    }
                }
            }
        });

        window.feature.region = Ext.create('Ext.form.ComboBox', {
            xtype: 'combobox',
            itemId: window.feature.regionComboboxId,
            store: window.feature.regionStore,
            labelAlign: 'top',
            fieldLabel: 'Select Region',
            displayField: 'Name',
            valueField: 'Id',
            labelClsExtra: 'combo-label',
            emptyText: 'Region List',
            editable: false,
            typeAhead: false,
            listeners: {
                'select': function (combo, record) {
                    ResetRegionDependencies();

                    window.feature.districtStore.proxy.extraParams.regionId = combo.getValue();
                    window.feature.districtStore.load();

                    ResetDistrictMarkers();

                    var map = googleMapPanel.getMap();

                    deleteMarkers(regionMarkersArray);
                    deleteMarkers(districtMarkersArray);
                    deleteMarkers(outpostMarkersArray);

                    window.feature.outpostStoreMarkers.proxy.extraParams.regionId = combo.getValue();
                    window.feature.outpostStoreMarkers.load();
                    window.feature.regionStoreMarkers.proxy.extraParams.regionId = combo.getValue();
                    window.feature.regionStoreMarkers.load();
                    window.feature.districtStoreMarkers.proxy.extraParams.regionId = combo.getValue();
                    window.feature.districtStoreMarkers.load(function () {
                        map.setZoom(5);
                    });
                },
                specialkey: function (field, e) {
                    if (e.getKey() == e.BACKSPACE || e.getKey() == e.DELETE) {
                        field.setValue(null);
                        ResetRegionDependencies();

                        var map = googleMapPanel.getMap();
                        deleteMarkers(districtMarkersArray);
                        deleteMarkers(outpostMarkersArray);

                        ResetRegionMarkers();

                        window.feature.outpostStoreMarkers.load();
                        window.feature.districtStoreMarkers.load();
                        window.feature.regionStoreMarkers.load(function () {
                            map.setZoom(4);
                        });
                    }
                }
            }
        });

        window.feature.district = Ext.create('Ext.form.ComboBox', {
            xtype: 'combobox',
            itemId: window.feature.districtComboboxId,
            store: window.feature.districtStore,
            labelAlign: 'top',
            fieldLabel: 'Select District',
            displayField: 'Name',
            valueField: 'Id',
            labelClsExtra: 'combo-label',
            emptyText: 'District List',
            editable: false,
            typeAhead: false,
            listeners: {
                'select': function (combo, record) {
                    var map = googleMapPanel.getMap();

                    deleteMarkers(districtMarkersArray);
                    deleteMarkers(outpostMarkersArray);

                    window.feature.districtStoreMarkers.proxy.extraParams.districtId = combo.getValue();
                    window.feature.districtStoreMarkers.load();
                    window.feature.outpostStoreMarkers.proxy.extraParams.districtId = combo.getValue();
                    window.feature.outpostStoreMarkers.load(function () {
                        map.setZoom(7);
                    });
                },
                specialkey: function (field, e) {
                    if (e.getKey() == e.BACKSPACE || e.getKey() == e.DELETE) {
                        field.setValue(null);

                        var map = googleMapPanel.getMap();
                        deleteMarkers(outpostMarkersArray);

                        ResetDistrictMarkers();

                        window.feature.outpostStoreMarkers.load();
                        window.feature.districtStoreMarkers.load();
                        window.feature.regionStoreMarkers.load(function () {
                            map.setZoom(5);
                        });
                    }
                }
            }
        });

        window.feature.container = Ext.create('Ext.container.Container', {
            margin: '15 15 15 15',
            padding: '20 20 0 20',
            autoScroll: true,
            id: 'TopContainer',
            layout: {
                align: 'stretch',
                type: 'hbox'
            },
            items: [{
                xtype: 'container',
                flex: 1,
                layout: {
                    align: 'stretch',
                    type: 'vbox'
                },
                items: [{
                    xtype: 'container',
                    layout: {
                        align: 'stretch',
                        type: 'vbox'
                    },
                    height: 60,
                    items: [{
                        xtype: 'container',
                        flex: 1,
                        layout: {
                            type: 'column'
                        },
                        items: [{
                            xtype: 'container',
                            height: 30,
                            width: 30,
                            html: '&nbsp;'
                        }, {
                            xtype: 'label',
                            cls: 'x-title-label',
                            text: 'Location Report'
                        },
                            window.feature.country,
                            window.feature.region,
                            window.feature.district
                        ]
                    }]
                }, {
                    xtype: 'container',
                    flex: 1,
                    layout: {
                        align: 'stretch',
                        type: 'vbox'
                    },
                    items: [
                        googleMapPanel
                    ]
                }]
            }]
        });

        function centerOnPlace(country, map) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': country }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                }
            });
        };

        function getGooglePositionFromText(coordinates) {
            var a = parseFloat(coordinates.substring(1, coordinates.indexOf(',')));
            var b = parseFloat(coordinates.substring(coordinates.indexOf(',') + 1, coordinates.length - 1));
            return new google.maps.LatLng(a, b);
        };

        function deleteMarkers(markerArray) {
            var number = markerArray.length;

            if (markerArray) {
                for (var j = 0; j < markerArray.length; j++) {
                    markerArray[j].setMap(null);
                }
            }
            markerArray.splice(0, number);
            markerArray = [];

        };

        function createMarker(store, markerArray, map) {
            var a = markerArray.length;

            if (markerArray.length == 0) {
                var i = 0;

                store.each(function (item) {
                    var marker = new MarkerWithLabel({
                        position: getGooglePositionFromText(item.get('Coordonates')),
                        draggable: false,
                        raiseOnDrag: true,
                        map: map,
                        labelContent: item.get('Number'),
                        labelAnchor: new google.maps.Point(15, 0),
                        labelClass: item.get('Type'),
                        title: item.get('Name'),
                        id: item.get('Id'),
                        animation: google.maps.Animation.DROP
                    });

                    var infowindow = new google.maps.InfoWindow({
                        content: "<h1>" + marker.title + "</h1><br/><p><h3>Female</h3></p><p>Younger than 20 years: " + item.get('FemaleYounger') + "</p><p>Older than 20 years: " + item.get('FemaleOlder') + "</p><br/><p><h3>Male</h3></p><p>Younger than 20 years: " + item.get('MaleYounger') + "</p><p>Older than 20 years: " + item.get('MaleOlder') + "</p>"
                    });

                    google.maps.event.addListener(marker, 'mouseover', function () {
                        infowindow.open(map, marker);
                    });

                    google.maps.event.addListener(marker, 'mouseout', function () {
                        infowindow.close(map, marker);
                    });

                    google.maps.event.addListener(marker, 'click', function () {
                        var countryId = window.feature.container.down('#' + window.feature.countryComboboxId).getValue();
                        var regionId = window.feature.container.down('#' + window.feature.regionComboboxId).getValue();
                        var districtId = window.feature.container.down('#' + window.feature.districtComboboxId).getValue();

                        var map = googleMapPanel.getMap();
                        var zoomLevel = map.getZoom();

                        var link = '@Url.RouteUrl(AnalysisManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "HealthFacilityReport", action = "FromGoogleMap" })';
                        link = link + "?id=" + marker.id;
                        link = link + "&location=" + GetLocation(zoomLevel);
                        link = link + "&type=" + GetType(marker);

                        navigateTo(link);

                    });

                    markerArray[i] = marker;
                    i = i + 1;
                }, this);
            }
        }

        function SetUpZoomEvent() {
            var map = googleMapPanel.getMap();

            google.maps.event.addListener(map, 'zoom_changed', function () {
                var zoomLevel = map.getZoom();

                if (map.getZoom() >= 7) {
                    deleteMarkers(regionMarkersArray);
                    deleteMarkers(districtMarkersArray);
                    createMarker(window.feature.outpostStoreMarkers, outpostMarkersArray, map);
                }

                if (map.getZoom() < 7 && map.getZoom() >= 5) {
                    deleteMarkers(outpostMarkersArray);
                    deleteMarkers(regionMarkersArray);
                    createMarker(window.feature.districtStoreMarkers, districtMarkersArray, map);
                }

                if (map.getZoom() < 5) {
                    deleteMarkers(districtMarkersArray);
                    deleteMarkers(outpostMarkersArray);
                    createMarker(window.feature.regionStoreMarkers, regionMarkersArray, map);
                }

                var countryCombobox = window.feature.container.down('#' + window.feature.countryComboboxId);
                centerOnPlace(countryCombobox.getRawValue(), map);
            });
        }

        function GetType(marker) {
            var typeString = marker.labelClass;
            var type = 0;

            if (typeString == 'dispensary')
                type = 1;

            if (typeString == 'healthcenter')
                type = 2;

            return type;
        }

        function GetLocation(zoomLevel) {
            var location = '';
            if (zoomLevel >= 7) {
                location = 'outpost';
            }
            if (zoomLevel < 7 && zoomLevel >= 5) {
                location = 'district';
            }
            if (zoomLevel < 5) {
                location = 'region';
            }
            return location;
        }

        var contentRes = window.res.content;
        var mainContent = Ext.getCmp(contentRes.maincontent.id);

        mainContent.add(window.feature.container);
        window.feature.countryStore.load(function () {
            SetUpZoomEvent();
        });
    });
</script>

<style type="text/css">
.drugshop {
   color: black;
   background-color: #FFCCCC;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 30px;     
   border: 1px solid black;
   white-space: nowrap;
}
.dispensary {
   color: black;
   background-color: #FFFF66;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 30px;     
   border: 1px solid black;
   white-space: nowrap;
}
.healthcenter {
   color: black;
   background-color: #99FFFF;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 30px;     
   border: 1px solid black;
   white-space: nowrap;
}
</style>