@model Web.Models.Home.IndexModel
@using Web.Areas.AnalysisManagement.Controllers
@using Web.Areas.AnalysisManagement
@section page_title{
Snapshot Application
}


<script type="text/javascript">
    window.res.header.subnavigation.buttonTabs = {
        id: 'ButtonTabs',
        group:'AdministrationButtonsGroup',
        outpost: 'ButtonTabs-OutpostAdministration-Button',
        service: 'ButtonTabs-ConditionAdministration-Button',
        user: 'ButtonTabs-UserAdministration-Button'
    };

    Ext.onReady(function () {
        var content = Ext.getCmp(window.res.content.id);

        content.add({
            xtype: 'container',
            width: 1140,
            height: 530,
            cls: "dashboard-img",
            layout: {
                align: 'stretch',
                type: 'vbox'
            },
            items: [{
                xtype: 'container',
                flex: 1,
                cls: "dashboard-img",
                layout: {
                    type: 'hbox'
                },
                items: [{
                    xtype: 'image',
                    autoEl: { html: "<a href='@(Url.RouteUrl<GoogleMapReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='250' width='570' onmouseout=\"this.src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/map.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'\" onmouseover=\"this.src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/maphover.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'\" src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/map.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>"},
                }, {
                    xtype: 'image',
                    autoEl: { html: "<a href='@(Url.RouteUrl<SummaryReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='250' width='570' onmouseout=\"this.src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/summary.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'\" onmouseover=\"this.src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/summaryhover.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'\" src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/summary.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'</a>"}
                }]
            }, {
                xtype: 'image',
                height: 250,
                autoEl: { html: "<a href='@(Url.RouteUrl<PatientsReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='250' width='1140' onmouseout=\"this.src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/Patients.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'\" onmouseover=\"this.src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/Patientshover.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'\" src='@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/Patients.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'</a>"}
            },{
                xtype: 'image',
                width: 1140,
                height: 30,
                src: '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/copyright.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))',
            }]
        });

    });
</script>


<script type="text/javascript">
    Ext.onReady(function () {
        var subNavRes = window.res.header.subnavigation;
        var subnav = Ext.getCmp(subNavRes.id);

        subnav.add([{
            xtype: 'container',
            id: subNavRes.buttonTabs.id,
            margin: 0,
            padding: 0,
            width: 500,
            layout: {
                align: 'stretch',
                padding: 0,
                type: 'vbox'
            },
            items: [{
                xtype: 'container',
                flex: 1,
                items: [{
                    xtype: 'label',
                    html: '&nbsp;'
                }]
            }, {
                xtype: 'container',
                layout: {
                    type: 'column'
                },
                flex: 1,
                items: []
            }]
            
        }]);

        subnav.ownerCt.doLayout();

    });
</script>