@section page_title{
Analysis
}

@using Web.Areas.AnalysisManagement.Controllers;
@using Web.Areas.AnalysisManagement;
@using Microsoft.Web.Mvc;


@{
    Html.RenderPartial("_EmptySubNavigation");
    Html.RenderPartial("_EmptySideBar");
}
<script type="text/javascript">

    Ext.onReady(function () {

        var analysisBtnId = window.res.header.navigation.analysisAndReports;
        var analysisBtn = Ext.getCmp(analysisBtnId);
        analysisBtn.toggle(true);

    });

</script>
<script type="text/javascript">
    Ext.onReady(function () {

        window.feature = {};

        window.feature.container = Ext.create('Ext.container.Container', {
            margin: '15 15 15 15',
            padding: '20 20 20 20',
            id: 'TopContainer',
            layout: {
                align: 'stretch',
                type: 'hbox'
            },
            autoScroll: true,
            items: [{
                xtype: 'container',
                width: 1000,
                height: 550,
                autoScroll: true,
                layout: {
                    align: 'stretch',
                    type: 'vbox'
                },
                items: [{
                    xtype: 'container',
                    height: 110,
                    layout: {
                        align: 'stretch',
                        type: 'hbox'
                    },
                    items: [{
                        xtype: 'container',
                        width: 500,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href='@(Url.RouteUrl<PatientsReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/ReportIcons/PatientReport.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',   
                            tdAttrs: {height: 25, valign: 'top'},     
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<PatientsReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Patient Report' }
                        }, {
                            xtype: 'label',
                            tdAttrs: { valign: 'top' },     
                            text: 'In this report the user can see all information on patients.'    
                        }]
                    }, {
                        xtype: 'container',
                        width: 500,
                        layout: {
                            type: 'table',
                            columns: 2,
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href='@(Url.RouteUrl<HealthFacilityReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/ReportIcons/HealthFacilityReport.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},  
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<HealthFacilityReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Health Facility Report' }
                                    
                        }, {
                            xtype: 'label',
                            tdAttrs: { valign: 'top' },     
                            text: 'This report will show the number of patients received at Health Facilities with gender stratification.'  
                        }]
                    }]
                }, {
                    xtype: 'container',
                    height: 110,
                    layout: {
                        align: 'top',
                        type: 'hbox'
                    },
                    items: [{
                        xtype: 'container',
                        width: 500,
                        layout: {
                            type: 'table',
                            columns: 2,
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href='@(Url.RouteUrl<DiagnosisReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/ReportIcons/DiagnosisReport.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},  
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<DiagnosisReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Symptom & Diagnosis Report' }     
                        }, {
                            xtype: 'label',
                            tdAttrs: { valign: 'top' } , 
                            text: 'This report will show the number of patients who received a specific diagnosis at different health facilities.'
                        }]
                    }, {
                        xtype: 'container',
                        width: 500,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href= '@(Url.RouteUrl<TreatmentReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/ReportIcons/TreatmentReport.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},     
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<TreatmentReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Treatments Report' }    
                        }, {
                            xtype: 'label',
                            text: 'This report will show the number of patients who received a specific treatment at different health facilities.',
                            tdAttrs: { valign: 'top' },     
                        }]
                    }]
                }, {
                    xtype: 'container',
                    height: 110,
                    layout: {
                        align: 'top',
                        type: 'hbox'
                    },
                    items: [{
                        xtype: 'container',
                        width: 500,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href= '@(Url.RouteUrl<AdviceReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/ReportIcons/AdviceReport.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},     
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<AdviceReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Advice Report' }     
                        }, {
                            xtype: 'label',
                            text: 'This report will show the number of patients who received a specific advice at different health facilities.',
                            tdAttrs: { valign: 'top' }    
                        }]
                    }, {
                        xtype: 'container',
                        width: 500,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href='@(Url.RouteUrl<SummaryReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/ReportIcons/SummaryReport.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},     
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<SummaryReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Summary Report' }     
                        }, {
                            xtype: 'label',
                            text: 'This report will show the number of patients who failed to report at a certain dispensary, number of patients who obtained/ did not get treatment and the number of patients reported into the system at different dispensaries or health centers.',
                            tdAttrs: { valign: 'top' }     
                        }]
                    }]
                }, {
                    xtype: 'container',
                    height: 110,
                    layout: {
                        align: 'top',
                        type: 'hbox'
                    },
                    items: [{
                        xtype: 'container',
                        width: 500,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href = '@(Url.RouteUrl<GoogleMapReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/ReportIcons/LocationReport.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},     
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<GoogleMapReportController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Location Report' }     
                        }, {
                            xtype: 'label',
                            text: 'This report will show the number of patients referred and treated at different health facilities.',
                            tdAttrs: { valign: 'top' }     
                        }]
                    }, {
                        xtype: 'container',
                        flex: 1

                    }]

                }]
            }]
        });

        var contentRes = window.res.content;
        var mainContent = Ext.getCmp(contentRes.maincontent.id);

        mainContent.add(window.feature.container);
    });
</script>
